<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
  <title>myVesta - <?=__($TAB)?></title>
  <link rel="stylesheet" href="/css/styles.min.css?1446554109">
  <link type="text/css" href="/css/jquery-custom-dialogs.css" rel="stylesheet" />
  <link href="/css/fonts/font_sans_pro.css" rel="stylesheet">
  <link href="/css/fonts/font_lobster.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/fonts/font_awesome5.css">
  <script>
    //
    //  GLOBAL SETTINGS
    //
    <?php
        $CURRENT_USER_FINAL=$_SESSION['user'];
        if (isset($_SESSION['look']) && $_SESSION['look']!='') $CURRENT_USER_FINAL=$_SESSION['look'];
    ?>
    var GLOBAL = {};
    GLOBAL.FTP_USER_PREFIX  = 'admin_';
    GLOBAL.DB_USER_PREFIX   = 'admin_';
    GLOBAL.DB_DBNAME_PREFIX = 'admin_';
    GLOBAL.CURRENT_USER = '<?=$_SESSION['user']?>';
    GLOBAL.CURRENT_USER_LOOK = '<?=$_SESSION['look']?>';
    GLOBAL.CURRENT_USER_FINAL = '<?=$CURRENT_USER_FINAL?>';
    GLOBAL.AJAX_URL = '';
  </script>
</head>
<body class="body-<?=strtolower($TAB)?> lang-<?=$_SESSION['language']?>">
