body {
  background: #f0f3f5;
  color: #58666f;
  font-family: 'Source Sans Pro', sans-serif;
}
b, strong {
  color: #58666f;
}
.l-percent {
  border-bottom: none;
  margin-top: 1px;
  width: 200px;
  background: #e4eaed;
}
.l-percent__fill {
  background-color: #2ac34e;
  bottom: 0;
}
.to-top {
  z-index: 100;
  top: unset;
  bottom: 30px;
  right: 285px;
}
.to-shortcuts {
  z-index: 100;
  top: unset;
  bottom: 30px;
  right: 330px;
}
.shortcuts {
  right: calc(50% - 400px);
  bottom: calc(50% - 213px);
}
.l-separator {
  display: none;
}
.l-header {
  position: fixed;
  width: calc(100% - 40px);
  z-index: 99;
  background: #fff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
  color: #58666f;
  height: 50px;
  padding: 0 20px;
  margin-bottom: unset;
}
.l-header a {
  color: #58666f;
  font-size: 14px;
}
.l-header a:hover {
  color: #58666f;
}
.l-header .l-center {
  max-width: none !important;
}
.l-header .l-center .l-logo {
  background-position: -65px -182px;
  /* background-position: -125px -478px; */
  background-repeat: no-repeat;
  display: block;
  height: 40px;
  margin-top: 0;
  width: 80px;
  /* width: 42px; */
  margin-left: 0;
  background-size: 235px 325px;
  position: relative;
  top: 5px;
  left: 0;
  float: left;
  padding-right: 20px;
}
.l-header .l-center .l-menu {
  position: unset;
  margin-left: unset;
}
.l-header .l-center .l-menu .l-menu__item a {
  line-height: 50px;
  padding: 0 18px;
  display: inline-block;
}
.l-header .l-center .l-menu .l-menu__item a:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.l-header .l-center .l-menu .l-menu__item a:active {
  background-color: rgba(0, 0, 0, 0.05);
}
.l-header .l-center .l-menu .l-menu__item.l-menu__item--active a {
  color: unset;
  font-size: unset;
  font-weight: unset;
  text-transform: unset;
  background-color: rgba(0, 0, 0, 0.05);
}
.l-header .l-center .l-profile .l-profile__notifications {
  margin-top: 13px;
}
.l-header .l-center .l-profile .l-profile__notifications:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.l-header .l-center .l-profile .l-profile__username {
  padding: 15px 0 0 10px;
}
.l-header .l-center .l-profile .l-profile__logout {
  padding: 15px 0 0 10px;
}
.l-header > .l-center {
  margin-left: 200px;
}
.l-content {
  position: relative;
  top: 50px;
}
.l-content + div {
  right: 100px !important;
  top: unset !important;
  bottom: 40px !important;
}
.l-content + div div {
  background-color: #e4eaed !important;
  padding: 10px;
  border-radius: 5px;
}
.l-content .l-center {
  max-width: none !important;
}
.l-content .l-center .l-stat {
  display: block;
  position: fixed;
  z-index: 100;
  padding-top: 0 !important;
  width: 200px;
  height: 100%;
  top: 0;
  margin-top: 0;
  background: #1c2b35;
  overflow-y: scroll;
  scrollbar-width: thin;
  /* Firefox */
  -ms-overflow-style: scrollbar;
  /* Internet Explorer 10+ */
  /* width */
}
.l-content .l-center .l-stat::-webkit-scrollbar {
  display: block;
  width: 7px;
  /* Track */
}
.l-content .l-center .l-stat::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
  /* Handle */
}
.l-content .l-center .l-stat::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.15);
}
.l-content .l-center .l-stat:hover {
  /* Handle on hover */
}
.l-content .l-center .l-stat:hover::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.4);
}
.l-content .l-center .l-stat .l-stat__col--active ul {
    display: block !important;
}
.l-content .l-center .l-stat .l-stat__col--active {
  background: #131e27;
}
.l-content .l-center .l-stat .l-stat__col--active a {
  border-bottom: 2px solid #131e27;
}
.l-content .l-center .l-stat .l-stat__col--active a .l-stat__col-title {
  background: #16232d;
  color: white !important;
  font-size: 20px;
  font-weight: 400;
  margin-top: unset;
  letter-spacing: unset;
  margin-right: unset;
}
.l-content .l-center .l-stat .l-stat__col--active span {
    display: none;
}
.l-content .l-center .l-stat .focus {
  background: #5e5e5e;
}
.l-content .l-center .l-stat .focus a {
  border-bottom: 2px solid #131e27;
}
.l-content .l-center .l-stat .focus a ul li {
  color: #c2e5ff !important;
}
.l-content .l-center .l-stat .focus a .l-stat__col-title {
  background: #5e5e5e;
  color: #c4d0d8;
  font-size: 20px;
  font-weight: 400;
  margin-top: unset;
  letter-spacing: unset;
  margin-right: unset;
}
.l-content .l-center .l-stat .l-stat__col {
  display: block;
  float: unset;
}
.l-content .l-center .l-stat .l-stat__col:hover .l-stat__col-title {
  color: #fff;
}
.l-content .l-center .l-stat .l-stat__col:hover .l-stat__col-title:after {
  color: #fff;
}
.l-content .l-center .l-stat .l-stat__col a {
  height: unset !important;
  min-height: unset !important;
  display: block;
  width: unset;
  border-bottom: 2px solid #131e27;
  background-color: transparent;
  padding-left: unset;
  padding-bottom: 10px;
  padding-top: unset;
  margin-top: unset;
}
.l-content .l-center .l-stat .l-stat__col a .l-stat__col-title {
  min-height: unset !important;
  color: #869fb2;
  font-size: 20px;
  font-weight: 400;
  padding: 15px 15px 15px 20px;
  margin-bottom: 0;
  margin-top: 0 !important;
}
.l-content .l-center .l-stat .l-stat__col a .l-stat__col-title:after {
  font-family: 'Font Awesome 5 Free';
  font-weight: bold;
  content: "\f054";
  float: right;
  font-size: 10px;
  color: #5c798f;
  margin-top: 8px;
  margin-right: 26px;
}
.l-content .l-center .l-stat .l-stat__col a .l-stat__col-title:before {
  font-family: 'Font Awesome 5 Free';
  font-weight: bold;
  content: "\f233";
  padding-right: 10px;
  font-size: 17px;
}

.l-content .l-center .l-stat .l-stat__col--active a .l-stat__col-title:after {
    margin-right: 26px;
}

.l-content .l-center .l-stat .l-stat__col a ul {
  margin: 0;
  display: none;
}
.l-content .l-center .l-stat .l-stat__col a ul li {
  color: #92adc2;
  margin-bottom: unset;
  padding: 10px 20px 10px 20px;
  font-size: 14px;
}
.l-content .l-center .l-stat .l-stat__col a ul li span {
  float: right;
  padding: 3px 5px 4px 5px;
  font-size: 13px;
  color: #fff;
  background-color: #27c54e;
  font-weight: 700;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  display: inline-block;
  min-width: 10px;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
  left: 133px;
}
.l-content .l-center .l-stat .l-stat__col a ul li:first-child span {
  float: right;
  padding: 3px 5px 4px 5px;
  font-size: 13px;
  color: #fff;
  background-color: #34b5dd;
  font-weight: 700;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  display: inline-block;
  min-width: 10px;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 10px;
}
.l-content .l-center .l-stat .l-stat__col a ul li:before {
  font-family: 'Font Awesome 5 Free';
  font-weight: bold;
  content: "\f03a";
  padding-right: 15px;
}
.l-content .l-center .l-stat .l-stat__col:nth-of-type(1) a .l-stat__col-title:before {
  content: "\f500";
}
.l-content .l-center .l-stat .l-stat__col:nth-of-type(1) a ul li:nth-of-type(1):before {
  content: "\f0a0";
}
.l-content .l-center .l-stat .l-stat__col:nth-of-type(1) a ul li:nth-of-type(2):before {
  content: "\f75b";
}
.l-content .l-center .l-stat .l-stat__col:nth-of-type(1) a ul li:nth-of-type(3):before {
  content: "\f05e";
}
.l-content .l-center .l-stat .l-stat__col:nth-of-type(2) a .l-stat__col-title:before {
  content: "\f233";
}
.l-content .l-center .l-stat .l-stat__col:nth-of-type(2) a ul li:nth-of-type(1):before {
  content: "\f0ac";
}
.l-content .l-center .l-stat .l-stat__col:nth-of-type(2) a ul li:nth-of-type(2):before {
  content: "\f0c5";
}
.l-content .l-center .l-stat .l-stat__col:nth-of-type(2) a ul li:nth-of-type(3):before {
  content: "\f05e";
}
.l-content .l-center .l-stat .l-stat__col:nth-of-type(3) a .l-stat__col-title:before {
  content: "\f6ff";
}
.l-content .l-center .l-stat .l-stat__col:nth-of-type(3) a ul li:nth-of-type(1):before {
  content: "\f0ac";
}
.l-content .l-center .l-stat .l-stat__col:nth-of-type(3) a ul li:nth-of-type(2):before {
  content: "\f303";
}
.l-content .l-center .l-stat .l-stat__col:nth-of-type(3) a ul li:nth-of-type(3):before {
  content: "\f05e";
}
.l-content .l-center .l-stat .l-stat__col:nth-of-type(4) a .l-stat__col-title:before {
  content: "\f674";
}
.l-content .l-center .l-stat .l-stat__col:nth-of-type(4) a ul li:nth-of-type(1):before {
  content: "\f0ac";
}
.l-content .l-center .l-stat .l-stat__col:nth-of-type(4) a ul li:nth-of-type(2):before {
  content: "\f2bb";
}
.l-content .l-center .l-stat .l-stat__col:nth-of-type(4) a ul li:nth-of-type(3):before {
  content: "\f05e";
}
.l-content .l-center .l-stat .l-stat__col:nth-of-type(5) a .l-stat__col-title:before {
  content: "\f1c0";
}
.l-content .l-center .l-stat .l-stat__col:nth-of-type(5) a ul li:nth-of-type(1):before {
  content: "\f1c0";
}
.l-content .l-center .l-stat .l-stat__col:nth-of-type(5) a ul li:nth-of-type(2):before {
  content: "\f05e";
}
.l-content .l-center .l-stat .l-stat__col:nth-of-type(5) a ul li:nth-of-type(3):before {
  content: "\f05e";
}
.l-content .l-center .l-stat .l-stat__col:nth-of-type(6) a .l-stat__col-title:before {
  content: "\f120";
}
.l-content .l-center .l-stat .l-stat__col:nth-of-type(6) a ul li:nth-of-type(1):before {
  content: "\f120";
}
.l-content .l-center .l-stat .l-stat__col:nth-of-type(6) a ul li:nth-of-type(2):before {
  content: "\f05e";
}
.l-content .l-center .l-stat .l-stat__col:nth-of-type(6) a ul li:nth-of-type(3):before {
  content: "\f05e";
}
.l-content .l-center .l-stat .l-stat__col:nth-of-type(7) a .l-stat__col-title:before {
  content: "\f019";
}
.l-content .l-center .l-stat .l-stat__col:nth-of-type(7) a ul li:nth-of-type(1):before {
  content: "\f019";
}
.l-content .l-center .l-stat .l-stat__col:nth-of-type(7) a ul li:nth-of-type(2):before {
  content: "\f05e";
}
.l-content .l-center .l-stat .l-stat__col:nth-of-type(7) a ul li:nth-of-type(3):before {
  content: "\f05e";
}
.l-content .l-center .l-sort {
  padding: 0 20px;
  position: relative;
  z-index: 98;
  width: auto;
  margin-top: unset !important;
  background-color: #f6f8f8;
  border-bottom: 1px solid #dee5e8;
  margin-bottom: 30px;
}
.l-content .l-center .l-sort .l-sort__create-btn {
  bottom: -20px;
}
.l-content .l-center .l-sort .context-menu {
  top: 77px;
}
.l-content .l-center .l-sort .l-sort-toolbar {
  padding: 24px 0 22px 0;
  color: #98a6ac;
}
.l-content .l-center .l-sort .l-sort-toolbar .l-select {
  border-radius: 3px 0 0 3px;
  background: #fff;
  border: 1px solid #dee5e8;
}
.l-content .l-center .l-sort .l-sort-toolbar .l-sort-toolbar__filter-apply {
  border-radius: 0 3px 3px 0;
}
.l-content .l-center .l-sort .l-sort-toolbar table tbody tr .l-sort-toolbar__search-box form .search-input {
  border-radius: 3px 0 0 3px;
  border: 1px solid #dee5e8;
}
.l-content .l-center .l-sort .l-sort-toolbar table tbody tr .l-sort-toolbar__search-box form .l-sort-toolbar__search {
  border-radius: 0 3px 3px 0;
}
.l-content .l-center .l-sort .l-sort-toolbar table tbody tr .sort-by {
  padding-left: 30px;
}
.l-content .l-center .l-unit {
  padding: 0 0 0 15px;
  overflow: hidden;
  margin: 0px 20px 20px 20px;
  background: #fff;
  border-radius: 3px;
  border-bottom: none !important;
  border-left: none !important;
  color: #98a6ac;
  font-size: 14px;
}
.l-content .l-center .l-unit.selected {
  background-color: #e4eaed;
}
.l-content .l-center .l-unit--suspended {
  background-color: #eaeaea !important;
}
.l-content .l-center .l-unit.selected .l-percent {
  border-bottom: none;
  margin-top: 1px;
  width: 200px;
  background: #cbd3d7;
}
.l-content .l-center .l-unit .l-unit-toolbar .l-unit-toolbar__col.l-unit-toolbar__col--right {
  position: relative;
  top: 20px;
  right: 20px;
  display: block;
}
.l-content .l-center .l-unit .l-unit-toolbar .l-unit-toolbar__col.l-unit-toolbar__col--right .actions-panel__col {
  margin-left: 10px;
  border-radius: 3px;
  overflow: hidden;
  border-right: none;
  background-color: #dde6e8;
}
.l-content .l-center .l-unit .l-unit-toolbar .l-unit-toolbar__col.l-unit-toolbar__col--right .actions-panel__col a {
  font-weight: 500;
}
.l-content .l-center .l-unit .l-unit-toolbar .l-unit-toolbar__col .check-label:before {
  z-index: 97;
}
.l-content .l-center .l-unit .l-unit__col .l-unit__name {
  color: #34b5dd;
  font-weight: 500;
  font-size: 24px;
  margin-bottom: unset;
}
.l-content .l-center .l-unit .l-unit__col .l-unit__ip {
  font-size: 18px;
}
.l-content .l-center .l-unit .l-unit__col .l-unit__date {
  letter-spacing: unset;
  display: inline-block;
  border-bottom: solid 10px #ffeb0087;
  line-height: 3px;
  padding: 0 0px;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 16px;
}
.l-content .l-center .l-unit .l-unit__col .l-unit__stats td {
  height: 27px;
}
.l-content .l-center .io-box {
  overflow: hidden;
  margin: 20px 20px 0px 20px;
  color: #98a6ac;
}
.l-content .l-center .io-box .io-box-left {
  float: left;
  width: calc(100% - 800px);
  /*min-width: 283px;*/
  text-align: center;
}
.l-content .l-center .io-box .io-box-left .io-box-left-items {
  float: left;
  width: calc(50% - 20px);
  height: 137px;
  margin-right: 20px;
  margin-bottom: 20px;
  background: #fff;
  border-radius: 3px;
  min-width: 125px;
}
.l-content .l-center .io-box .io-box-left .io-box-left-items a {
  display: block;
  font-size: 36px;
  font-weight: 300;
  margin-top: 32px;
}
.l-content .l-center .io-box .io-box-left .io-1-homepage-block {
  color: #98a6ac;
}
.l-content .l-center .io-box .io-box-left .io-1-homepage-block a {
  color: #34b5dd;
}
.l-content .l-center .io-box .io-box-left .io-2-homepage-block {
  color: #b4efc2;
  background-color: #27c54e;
}
.l-content .l-center .io-box .io-box-left .io-2-homepage-block a {
  color: #ecfff1;
}
.l-content .l-center .io-box .io-box-left .io-3-homepage-block {
  color: #b0e1f1;
  background-color: #34b5dd;
}
.l-content .l-center .io-box .io-box-left .io-3-homepage-block a {
  color: #dcf2f8;
}
.l-content .l-center .io-box .io-box-left .io-4-homepage-block {
  color: #98a6ac;
}
.l-content .l-center .io-box .io-box-left .io-4-homepage-block a {
  color: #58666f;
}
.l-content .l-center .io-box .io-box-left .io-1-homepage-block span {
  padding: 5px;
}
.l-content .l-center .io-box .io-box-left .io-2-homepage-block span {
  padding: 5px;
}
.l-content .l-center .io-box .io-box-left .io-3-homepage-block span {
  padding: 5px;
}
.l-content .l-center .io-box .io-box-left .io-4-homepage-block span {
  padding: 5px;
}
.l-content .l-center .io-box .io-box-left .io-5-homepage-block span {
  padding: 5px;
}

.l-content .l-center .io-box .io-box-left .io-5-homepage-block {
  width: calc(100% - 20px);
  color: #98a6ac;
  background: #e4eaed;
}
.l-content .l-center .io-box .io-box-left .io-5-homepage-block a {
  color: #27c54e;
}
.l-content .l-center .io-box .io-box-left .io-5-homepage-block:before {
  font-family: 'Font Awesome 5 Free';
  font-weight: bold;
  font-size: 32px;
  background: #dde6e8;
  height: 121px;
  width: 115px;
  line-height: 90px;
  content: "\f581";
  color: #fff;
  float: left;
  border-radius: 5px 0 0 5px;
  padding-top: 16px;
}
.l-content .l-center .io-box .io-box-right {
  float: right;
  width: 800px;
  background: #fff;
  height: 450px;
  overflow: hidden;
  border-radius: 3px;
  text-align: center;
}
.l-content .l-center .io-box .io-box-right img {
  margin-top: 8px;
  width: 767px;
  height: 433px;
  position: relative;
}
.l-content .l-center .l-unit-ft {
  padding: 0 0 37px 15px;
  overflow: hidden;
  margin: 0px 20px 19px 20px;
  background: #e4eaed;
  border-radius: 3px;
  border-bottom: none !important;
  border-left: none !important;
  position: relative;
  color: #a6b0b4;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 11px;
}
.l-content .l-center .l-unit-ft:before {
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  font-size: 32px;
  background: #dde6e8;
  height: 100%;
  width: 90px;
  line-height: 108px;
  content: "\f05a";
  color: #fff;
  float: left;
  border-radius: 5px 0 0 5px;
  position: absolute;
  left: 0;
  text-align: center;
}
.l-content .l-center .l-unit-ft .data {
  margin: 0 0 50px 0;
}
.l-content .l-center #vstobjects {
  padding: 0 0 0 15px;
  overflow: hidden;
  margin: 0px 20px 20px 20px;
  background: #fff;
  border-radius: 3px;
  border-bottom: none !important;
  border-left: none !important;
  color: #98a6ac;
  font-size: 14px;
}
.l-content .l-center #vstobjects .data-date {
  color: #98A6AC;
  letter-spacing: unset;
  display: inline-block;
  border-bottom: solid 10px #ffeb0087;
  line-height: 3px;
  padding: 0 0px;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 16px;
}
.l-content .l-center .vst-text.step-top.helper-container {
  margin-bottom: unset;
  margin-top: 0;
  float: unset;
  height: auto;
  width: auto;
}
.l-content .l-center .vst-text.step-top.helper-container #tabs.cron-helper-tabs {
  padding: 0 0 0 15px;
  overflow: hidden;
  margin: 0 20px 20px 20px;
  background: #fff;
  border-radius: 3px;
  border-bottom: none !important;
  border-left: none !important;
  color: #98a6ac;
  font-size: 14px;
  border: none !important;
}
.l-content > .units.l-center::before {
  content: '';
  display: block;
  height: 0;
}
.l-content > .l-center {
  margin-left: 200px;
  margin-right: 240px;
}
.l-content > .l-center:first-child {
  margin-left: 0;
}
.l-content #vstobjects > .l-center {
  margin-left: 200px;
  margin-right: 240px;
  padding-top: 0;
  padding-bottom: 1px;
}

.l-content .right_sidebar {
  width: 240px;
  position: fixed;
  display: block;
  /*overflow-scrolling: auto;*/
  z-index: 98;
  top: 50px;
  right: 0px;
  box-sizing: border-box;
  height: 100%;
}
.l-content .io-log {
  color: #58666f;
  border-left: 1px solid #dee5e8;
  width: 240px;
  position: relative;
  display: block;
  /*overflow-scrolling: auto;*/
  z-index: 98;
  top: 0px;
  right: 0px;
  background: #fff;
  word-break: break-word;
  overflow: hidden;
  border-right: 8px solid #e3e3e3;
  box-sizing: border-box;
}
.l-content .io-log::-webkit-scrollbar {
  width: 7px;
  /* Track */
}
.l-content .io-log::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
  /* Handle */
}
.l-content .io-log::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.15);
  border-radius: 7px;
  /* Handle on hover */
}
.l-content .io-log::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 7px;
}
.l-content .io-log > * {
  margin: 0 20px;
}
.l-content .io-log h2 {
  margin: 0 0 20px 0;
  padding-left: 20px;
  font-size: 24px;
  font-weight: 300;
  line-height: 60px;
  color: #98a6ac;
  border-bottom: 1px solid #dee5e8;
  cursor: pointer;
}
.l-content .io-log h2:before {
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  content: "\f15c";
  padding-right: 10px;
  font-size: 17px;
}
.l-content .io-log > div {
  /* border-left: solid 1px #dee5e8; */
  padding-left: 15px;
  position: relative;
  margin-left: 25px;
}
.l-content .io-log > div > div {
  position: relative;
  margin-bottom: 25px;
}
.l-content .io-log > div > div > div:nth-of-type(2) {
  color: #98a6ac;
  font-size: 13px;
  margin-bottom: 5px;
}
.l-content .io-log > div > div > div:nth-of-type(3) {
  color: #98a6ac;
  font-size: 13px;
  margin-bottom: 5px;
}
.l-content .io-log > div > div:before {
  content: '';
  position: absolute;
  height: 100%;
  width: 7px;
  border-radius: 10px;
  border: solid 1px #dee5e8;
  background: #e0fff9;
  left: -20px;
}
.l-content .io-log > div > div:first-child(1n):before {
  background: #e0fff9;
}
.l-content .io-log > div > div:nth-child(2n):before {
  background: #fbffe0;
}
.l-content .io-log > div > div:nth-child(3n):before {
  background: #fbffe0;
}
.l-content .io-log > div > div:nth-child(4n):before {
  background: #fbffe0;
}
.l-content .io-log > div > div:nth-child(5n):before {
  background: #fbffe0;
}

.l-content .io-log2 {
  color: #58666f;
  border-left: 1px solid #dee5e8;
  border-top: 1px solid #cecece;
  width: 240px;
  position: relative;
  height: 100%;
  display: block;
  /*overflow-scrolling: auto;*/
  z-index: 98;
  top: 0px;
  right: 0px;
  background: #fff;
  word-break: break-word;
  overflow-y: scroll;
  scrollbar-width: thin;
  box-sizing: border-box;
}
.l-content .io-log2::-webkit-scrollbar {
  width: 7px;
  /* Track */
}
.l-content .io-log2::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
  /* Handle */
}
.l-content .io-log2::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.15);
  border-radius: 7px;
  /* Handle on hover */
}
.l-content .io-log2::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 7px;
}
.l-content .io-log2 > * {
  margin: 0 20px;
}
.l-content .io-log2 h2 {
  margin: 0 0 20px 0;
  padding-left: 20px;
  font-size: 24px;
  font-weight: 300;
  line-height: 60px;
  color: #98a6ac;
  border-bottom: 1px solid #dee5e8;
  cursor: pointer;
}
.l-content .io-log2 h2:before {
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  content: "\f15c";
  padding-right: 10px;
  font-size: 17px;
}
.l-content .io-log2 > div {
  border-left: solid 1px #dee5e8;
  padding-left: 15px;
  position: relative;
  margin-left: 25px;
}
.l-content .io-log2 > div > div {
  position: relative;
  margin-bottom: 25px;
}
.l-content .io-log2 > div > div > div:nth-of-type(2) {
  color: #98a6ac;
  font-size: 12px;
  margin-bottom: 5px;
}
.l-content .io-log2 > div > div:before {
  content: '';
  position: absolute;
  height: 100%;
  width: 7px;
  border-radius: 10px;
  border: solid 1px #dee5e8;
  background: #fff;
  left: -20px;
}
.l-content .io-log2 > div > div:nth-child(2n):before {
  border: solid 1px #27c54e;
}
.l-content .io-log2 > div > div:nth-child(3n):before {
  border: solid 1px #27bbc5;
}
.l-content .io-log2 > div > div:nth-child(4n):before {
  border: solid 1px #275bc5;
}
.l-content .io-log2 > div > div:nth-child(5n):before {
  border: solid 1px #ffcc00;
}


#tooltip {
  background-color: #34b5dd;
}
.l-sort__create-btn.edit:hover #tooltip {
  background-color: #49c8ef;
}
.l-sort__create-btn.edit:active #tooltip {
  background-color: #00d8ff !important;
}
.l-sort__create-btn:active #tooltip {
  background-color: #00d8ff;
}
.body-login, .body-reset {
  background-color: #f0f3f5;
}
.body-login .login, .body-reset .login {
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #e7ecee;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  padding: 35px 35px 10px 35px;
  display: block;
  width: 420px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
}
.body-login .login > tbody > tr > td > table > tbody > tr:nth-of-type(1) > td:nth-of-type(1), .body-reset .login > tbody > tr > td > table > tbody > tr:nth-of-type(1) > td:nth-of-type(1) {
  position: absolute;
  text-align: center;
  width: calc(100% - 46px);
}
/*
.body-login .login > tbody > tr > td > table > tbody > tr:nth-of-type(1) > td:nth-of-type(1) a, .body-reset .login > tbody > tr > td > table > tbody > tr:nth-of-type(1) > td:nth-of-type(1) a {
  background-image: url(/images/sprite.png?1446554103);
  background-position: -65px -182px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 40px;
  margin-top: 0;
  width: 80px;
  margin-left: 0;
  background-size: 235px 325px;
  position: relative;
}
*/
/*
.body-login .login > tbody > tr > td > table > tbody > tr:nth-of-type(1) > td:nth-of-type(1) a img, .body-reset .login > tbody > tr > td > table > tbody > tr:nth-of-type(1) > td:nth-of-type(1) a img {
  display: none;
}
*/
.body-login .login > tbody > tr > td > table > tbody > tr:nth-of-type(1) > td:nth-of-type(2), .body-reset .login > tbody > tr > td > table > tbody > tr:nth-of-type(1) > td:nth-of-type(2) {
  position: relative;
  padding: 65px 0 0 0 !important;
}
.body-login .login > tbody > tr > td > table > tbody > tr:nth-of-type(1) > td:nth-of-type(2) .vst-input, .body-reset .login > tbody > tr > td > table > tbody > tr:nth-of-type(1) > td:nth-of-type(2) .vst-input {
  padding: 5px 10px;
  margin: 0;
  width: 320px !important;
  margin-top: 7px;
  border-radius: 3px;
  border: solid 1px #d3d9e2;
}
.body-login .login > tbody > tr > td > table > tbody > tr:nth-of-type(1) > td:nth-of-type(2) .button, .body-reset .login > tbody > tr > td > table > tbody > tr:nth-of-type(1) > td:nth-of-type(2) .button, .body-login .login > tbody > tr > td > table > tbody > tr:nth-of-type(1) > td:nth-of-type(2) .button:hover, .body-reset .login > tbody > tr > td > table > tbody > tr:nth-of-type(1) > td:nth-of-type(2) .button:hover, .body-login .login > tbody > tr > td > table > tbody > tr:nth-of-type(1) > td:nth-of-type(2) .button:active, .body-reset .login > tbody > tr > td > table > tbody > tr:nth-of-type(1) > td:nth-of-type(2) .button:active {
  width: 100% !important;
  border: 1px solid #27c54e;
  background-color: #27c54e;
  color: #f4f3f9;
  margin-bottom: 20px;
}
.body-login .login > tbody > tr > td > table > tbody > tr:nth-of-type(2) .login-bottom, .body-reset .login > tbody > tr > td > table > tbody > tr:nth-of-type(2) .login-bottom {
  width: auto;
  text-align: center;
  padding-bottom: unset;
  padding: 0;
}
.body-login .login-box .vst-advanced, .body-reset .login-box .vst-advanced {
  color: #34b5dd;
}
.body-web-log .l-header > .l-center {
  margin-left: 0;
}
.l-stat__col span {
    padding: 4px 0;
    font-size: 15px;
    position: fixed;
    display: inline-block;
    left: 159px;
}
.l-sort__create-btn2 {
    background-image: url("/images/sprite.png?1446554103");
    background-position: -331px -107px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 45px;
    width: 45px;
}
/*
.ui-resizable-handle {
    background-color: #333 !important;
}
*/
/*
div.ui-dialog div {
    background-color: #333 !important;
}
*/
div.ui-dialog > div {
    background-color: #333 !important;
}
div.ui-dialog > div div {
    background-color: #333 !important;
}
/*
div.ui-dialog > div > div {
    background-color: #333 !important;
}
div.ui-dialog + div {
    background-color: #333 !important;
}
div.ui-dialog + div div{
    background-color: #333 !important;
}
*/
/*
.ui-dialog-titlebar {
    background-color: #333 !important;
}
.ui-dialog-buttonpane {
    background-color: #333 !important;
}
*/
